@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: 'Jost', sans-serif;
}

nav {
  z-index: 10001 !important;
}

.gradient-bg {
  background: linear-gradient(99deg, #EE9AE5 0%, #5961F9 100%);
}

.btn-primary {
  @apply py-3 px-8 bg-secondary text-white font-semibold rounded hover:bg-primary transition-all duration-300;
}

.active {
  @apply border-b-2 border-secondary md:text-secondary sm:text-white;
}